model_config_list {
  config {
    name: 'Xception'
    base_path: '/models/Xception/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'MobileNetV2'
    base_path: '/models/MobileNetV2/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'DenseNet121'
    base_path: '/models/DenseNet121/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'DenseNet169'
    base_path: '/models/DenseNet169/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'DenseNet201'
    base_path: '/models/DenseNet201/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'NASNetMobile'
    base_path: '/models/NASNetMobile/'
    model_platform: 'tensorflow'
  }
}
