model_config_list {
  config {
    name: 'Xception'
    base_path: './models/Xception/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'ResNet50'
    base_path: './models/ResNet50/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'ResNet50V2'
    base_path: './models/ResNet50V2/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'InceptionV3'
    base_path: './models/InceptionV3/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'MobileNet'
    base_path: './models/MobileNet/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'MobileNetV2'
    base_path: './models/MobileNetV2/'
    model_platform: 'tensorflow'
  } 
}
