model_config_list {
  config {
    name: 'Xception'
    base_path: '/service/models/Xception/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'MobileNetV2'
    base_path: '/service/models/MobileNetV2/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'DenseNet121'
    base_path: '/service/models/DenseNet121/'
    model_platform: 'tensorflow'
  }
  config {
    name: 'EfficientNetB0'
    base_path: '/service/models/EfficientNetB0/'
    model_platform: 'tensorflow'
  }
}